@model EPAM_Internet_Provider.Models.UserInfo

@{
    ViewBag.Title = "AdminAccountPage";
}

<div>
    <h4>Admin account page</h4>
    <hr />
    @Html.ActionLink("Add user", "AddUserByAdminSkill", "Admin")|
    @Html.ActionLink("Service list", "GetServices", "Admin")|
    @*@Html.ActionLink("Edit rate list", "EditRatesDetails", "General")*@
    @Html.ActionLink("View users list", "ViewUserList", "Admin")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
