@model PagedList.IPagedList<EPAM_Internet_Provider.Models.UserInfo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewUserList";
}

<h2>Users List</h2>

<table class="table">
    <tr>
        <th>
            UserId
        </th>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Account
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Block", "BlockUser", new { userId = item.UserId }) |
                @Html.ActionLink("Unblock", "UnblockUser", new { userId = item.UserId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ViewUserList",new { page}))
