@model EPAM_Internet_Provider.Domain.Models.Subscription

@{
    ViewBag.Title = "ChargeServiceBalance";
}

<h2>ChargeServiceBalance</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Service balance</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Service.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        @Html.DisplayFor(model => model.Service.ServiceName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ServiceBalance, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        @Html.EditorFor(model => model.ServiceBalance)
    </div>
    <div class="form-actions no-color">
        @Html.ActionLink("Charge", "ChargeService", new { subId = Model.SubscriptionId, balance = Model.ServiceBalance })
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
